.contenedorCategoriasFiltrarCategoria{
    width: 80%;
    margin: auto;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}

.volverAtrasCategoriasCategoria a{
    font-size: 1.3rem;
    color: rgb(58,58,58, 0.6);
    text-decoration: none;
}

.volverAtrasCategoriasCategoria a:hover{
    color: rgb(206, 29, 31, 1);
}

.volverAtrasCategoriasCategoria span{
    font-size: 1.3rem;
    margin-inline: 0.4rem;
    color: rgb(58,58,58, 0.6);
}

.volverAtrasCategoriasCategoria i{
    font-size: 1rem;
    position: relative;
    top: -1px;
    margin-right: 0.3rem;
    color: rgb(206, 29, 31, 0.9);
}

.contenedorPrincipalCategorias{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: start;
}

.contenedorFiltrarPorCategoria{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;   
}

.contenedorFiltrarPorCategoria span{
    font-size: 1.7rem;
    color: rgb(58,58,58, 1);
    font-weight: 700;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(58,58,58,0.2);
}

.contenedorFiltrarPorCategoria h3{
    font-size: 1.3rem;
    color: rgb(58,58,58, .9);
    font-weight: 500;
    margin-bottom: 1rem;
}

.contenedorCardsProdcutosCategoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 80%;
    padding-left: 5rem;
    gap: 5.33333%;
}

.contenedorCardProductoCategoria{
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.33333%;
}