.caja__admin{

    background-color: #2F2F2F;
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.titulo__seccion__admin{
    padding-left: 1rem;
    padding: 1.3rem;
    border: 1px solid #464646;
}

.titulo__seccion__admin:hover {
    background-color: #CE1D1F;
    cursor:pointer
}

.active{
    background-color: #383838;
}

.detalles__seccion{
    background-color: #383838;
}

@media (min-width: 992px){
    .caja__admin{
        width: 85%;
    }
}

@media (max-width: 991px){
    .caja__admin{
        width: 90%;
    }
}
