*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

/*

font-family: 'Anton', sans-serif;
font-family: 'Saira', sans-serif;

*/

/*

body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
    background: url("./assets/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
*/

/* document.body.classList.add('crear-usuario'); */

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

.btn-close:focus{
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
    border: 1px solid #CE1D1F;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: none;
}

button {
    border: none;
}

@media (max-width: 576px){

}

@media (min-width: 576px) and (max-width: 992px){

}

@media (min-width: 992px) and (max-width: 1200px){

}

@media (min-width: 1200px){

}

body.iniciar-sesion{
    background-color: rgb(0,0,0,1);
    /* filter: blur(0px); */
    /* background-color: #ff000055; */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;  
    width: 100%;
} 

body.product-details{
    background-color: rgb(0,0,0,1);
    /* filter: blur(0px); */
    /* background-color: #ff000055; */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;  
    width: 100%;
} 

.bgLogin{
    background-color: rgb(0,0,0,0.4);
    background-image: url("./assets/Fondo1.jpg");
    filter: blur(3px);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
}

.bg{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    background-image: url("./assets/ConcreteIntenso.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    padding: 0;
    margin:0;
}